@import "vendor/_vendor";

html {
    font-size: 62.35%;
}

body {
    background-color: $main-color;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    line-height: 1.3;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before, 
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}




// Blocks


@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/section.scss";